numpy
pyyaml
tqdm
pandas

jax
jaxlib
git+https://github.com/deepmind/dm-haiku
rlax
distrax
dm-tree
bsuite
graphviz

torch 
torchvision
stable_baselines3

pettingzoo
pygame
pymunk

wandb
imageio

#gym==0.24
#supersuit==3.4.0
