graphviz
numpy
jax
jaxlib
torch 
torchvision
dm-tree
git+https://github.com/deepmind/dm-haiku
stable_baselines3
pettingzoo
pygame
pymunk
wandb
imageio

pyyaml
tqdm
pandas

#gym==0.24
#supersuit==3.4.0
