dm-acme[jax,tensorflow]
dm-acme[envs]

numpy
pyyaml
tqdm
pandas

jax
jaxlib
git+https://github.com/deepmind/dm-haiku
rlax
distrax
dm-tree
bsuite
graphviz
optax

torch 
torchvision
stable_baselines3

pygame
pymunk

wandb
imageio

gym==0.24
supersuit==3.4.0
pettingzoo==1.18.1


