#Base Deepmind jax stack
git+https://github.com/deepmind/dm-haiku
rlax
distrax
dm-tree
dm-control
optax





#Porject dependencies
numpy
pyyaml
tqdm
pandas
bsuite
graphviz
torch 
torchvision
stable_baselines3
pygame
pymunk
wandb
imageio
gym==0.24
supersuit==3.4.0
pettingzoo==1.18.1










